#detail_content{

    display: grid;
    height: 100vh;
    width: 1000px;
    grid-template-rows: 700px 630px;

}

#detail_top{

    height: 600px;
    margin-top: 100px;
    display: grid;
    grid-template-rows:200px 300px 100px;

}

.detail_header_bar{
    background-color: #282c34;
    border-radius: 500px;
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /*box-shadow: rgba(40,44,52,0.4) 5px 5px, rgba(40,44,52, 0.3) 10px 10px, rgba(40,44,52, 0.2) 15px 15px, rgba(40,44,52, 0.1) 20px 20px, rgba(40,44,52, 0.05) 25px 25px;*/
}

.detail_header_bar .detail_group_subject{
    width: 200px;
    margin: 0 auto;
    padding: 15px;
}

.detail_header_bar .detail_group_subject svg{
    height: 130px;
    display: block;
    margin:0 auto;
}

#detail_top .detail_group_info{

    display: grid;
    grid-template-rows: 100px 60px 30px;

}

.detail_group_info .detail_group_type{
    font-family: 'Pacifico', cursive;
    grid-row-start: 1;
    height: 110px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}

.detail_group_info .detail_create_at{

    text-align: center;
    font-size: 15px;
    height: 50px;

}

.detail_group_info .detail_group_title{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;

}

.detail_group_info .detail_create_user{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;

}

.detail_group_info .detail_tag_data{

    height: 40px;
    width: 650px;
    margin:0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    font-weight: 700;
    background-color: #f6f6f6;

}

.detail_group_info .detail_tag_data a{

    margin: 0 25px;

}

.detail_contact_info {

    height: 100px;
    width: 300px;
    margin: 0 auto;

}


.detail_contact_info p{

    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin:5px auto;

}

.detail_contact_info button{

    display: block;
    text-align: center;
    margin:10px;
    width: 130px;
    height: 40px;
    border: 0;
    outline: 0;
    float: left;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.2s linear;

}

.detail_contact_info button.btn_kakao{
    background-color: #fae100;
}

.detail_contact_info button.btn_slack{
    background-color: #611f69;
    color: #fff;
}

#detail_middle{

    display: grid;
    grid-template-rows: 20px 250px 130px 230px;

}

.detail_group_content{

    width: 650px;
    height: 235px;
    margin: 10px auto 5px auto;
    padding: 25px;
    font-size: 16px;
    word-spacing: 3px;
    text-align: justify;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.detail_contact_date{

    display: grid;
    margin-top: 10px;
    grid-template-rows: 60px 60px;

}

.detail_contact_date span{

    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    display: block;
    margin: 20px auto;
    font-size: 20px;

}

.detail_contact_date ul{

    width: 630px;
    height: 50px;
    margin: 5px auto;

}

.detail_contact_date ul li{

    float: left;
    width: 50px;
    font-weight: 700;
    margin: 0 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    opacity: 0.2;

}

.detail_contact_date ul li.active{

    background-color: #476072;
    color: #fff;
    opacity: 1;

}

@media (hover:hover){

    .detail_contact_info button:hover{

        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

}
