
.container{
    display: grid;
}

#main_top{

    height: 25vh;
    min-height: 230px;
    max-height: 230px;
    width: 1000px;
    margin: 0 auto;

}

#main_top p{

    text-align: center;
    line-height: 95px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

}

#search_input_container{

    position: relative;
    width: 500px;
    height: 50px;
    margin: 0 auto;

}

#search_input_container #search_input_div{

    position: relative;
    width: 500px;
    height: 45px;
    background-color: #fff;
    border-radius: 22.5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

#search_input_container #search_input_div #input_search{

    width: 430px;
    height: 40px;
    margin: 2.5px 0 2.5px 17.5px;
    border: 0;
    font-weight: 500;

}

#search_input_container #search_input_div #input_search:focus{

    outline: none;

}

#search_input_container #btn_search{

    position: absolute;
    width: 50px;
    height: 35px;
    font-size: 15px;
    right: 0px;
    top: 5px;
    background-color: rgba(0,0,0,0);
    border:0;
    outline: 0;

}

#search_input_container #btn_search i {
    transition: 0.15s linear;
}

#search_tag_container{

    width: 450px;
    height: 90px;
    margin:0 auto;

}

#search_tag_container ul li{

    float: left;
    width: 90px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin: 35px 0px;
    text-align: center;
    color: #476072;
    transition: 0.1s linear;

}

#main_bottom{
    height: 75vh;
    width: 1000px;
    margin: 0 auto;
}

#main_bottom p{

    height: 47px;
    line-height: 27px;
    padding: 10px 20px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;

}

#group_list{

    width: 1000px;
    height: 660px;
    padding: 20px 20px 80px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

#group_list .group_block{

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: 90px 220px;
    transition: 0.2s linear;
    border-radius: 10px;

}

#group_list .next_arrow{

    display: none;

}

#group_list .group_block .picture_circle{

    padding: 20px 10px 15px 20px;

}

#group_list .group_block .picture_circle img{

    width: 60px;
    border-radius: 30px;
}

#group_list .group_block .group_content{

    display: grid;
    grid-template-rows: 40px 25px 111px;

}

#group_list .group_block .group_content .group_title{

    padding: 20px 10px 0 20px;
    line-height: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;

}

#group_list .group_block .group_content .group_type{

    line-height: 25px;
    padding: 0 20px 0 20px;
    font-size: 15px;
    color: #a6a6a6;


}

#group_list .group_block .group_content .group_info{

    padding: 0 10px 10px 10px;

}


#group_list .group_block .group_content .group_info p{

    padding: 0 10px 10px 10px;

    display: block;
    width: 200px;
    height: 85px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    white-space: normal;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;


}

@media (hover: hover) {

    #search_input_container #btn_search i:hover{

        color: #E93B81;

    }

    #search_tag_container ul li:hover{

        font-size: 18px;

    }

    #group_list .group_block:hover{

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

}


@media (max-width: 1024px){

    .container{

        display: grid;
        grid-template-rows: 1fr 4fr !important;
        height: auto;

    }

    #main_top{

        width: 800px;

    }


    #search_input_container{

        width: 500px;

    }


    #main_bottom{

        width: 800px;

    }

    #group_list{

        width: 800px;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

    }

    #group_list .group_block{

        background-color: #fff;
        display: grid;
        grid-template-columns: 130px 245px;

    }

    #group_list .next_arrow{

        display: grid;

    }


    #group_list .group_block .picture_circle{

        padding: 20px 15px 20px 30px;

    }

    #group_list .group_block .picture_circle img{

        width: 85px;
        border-radius: 42.5px;
    }

    #group_list .group_block .group_content .group_info p{

        width: 220px;

    }

}



@media (max-width: 850px) {

    #main_top {

        width: 600px;

    }

    #main_top p {

        font-size: 17px;
        font-weight: 400;

    }

    #search_input_container {

        width: 450px;

    }

    #search_input_container #search_input_div {

        position: relative;
        width: 450px;
        height: 40px;

    }

    #search_input_container #search_input_div #input_search {

        width: 380px;
        height: 35px;
        margin: 2.5px 0 2.5px 19px;
        border: 0;
        font-weight: 500;

    }

    #search_input_container #btn_search {

        position: absolute;
        width: 55px;
        height: 40px;
        font-size: 15px;
        right: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        outline: 0;

    }

    #main_bottom {

        width: 600px;

    }

    #group_list {

        width: 600px;

    }

    #group_list .group_block {

        grid-template-columns: 95px 180px;
        grid-template-rows: 150px;

    }


    #group_list .group_block .picture_circle {

        padding: 20px 5px 0px 20px;

    }

    #group_list .group_block .picture_circle img {

        width: 70px;

    }

    #group_list .group_block .group_content {

        display: grid;
        grid-template-rows: 35px 17px 98px;

    }

    #group_list .group_block .group_content .group_title {

        width: 180px;
        padding: 20px 10px 0 10px;
        line-height: 10px;
        font-size: 15px;

    }

    #group_list .group_block .group_content .group_type {

        width: 180px;
        line-height: 17px;
        padding: 0 10px 0 10px;
        font-size: 13px;

    }

    #group_list .group_block .group_content .group_info {

        width: 180px;
        padding: 0px 15px 10px 10px;

    }


    #group_list .group_block .group_content .group_info p {

        padding: 0px;
        width: 155px;
        height: 85px;
        font-size: 14px;


    }

}

@media (max-width: 649px){

    #main_top{

        width: 400px;

    }

    #main_top p{

        font-size: 15px;
        font-weight: 400;

    }

    #search_input_container{

        width: 400px;

    }

    #search_input_container #search_input_div{

        width: 400px;
        height: 35px;

    }

    #search_input_container #search_input_div #input_search{

        width: 330px;
        height: 30px;

    }

    #search_input_container #btn_search{

        height: 35px;
        font-size: 13px;

    }

    #search_tag_container{

        width: 400px;
        height: 85px;

    }

    #search_tag_container ul li{

        width: 80px;

    }

    #main_bottom{

        width: 400px;

    }

    #group_list{

        width: 400px;

    }

    #group_list .next_arrow{

        display: none;

    }

    #group_list .group_block{

        grid-template-columns: 120px 240px;

    }

    #group_list .group_block .picture_circle img{

        width: 80px;

    }

    #group_list .group_block .group_content .group_title{

        width: 240px;
        padding: 20px 10px 0 10px;
        line-height: 10px;
        font-size: 15px;

    }

    #group_list .group_block .group_content .group_type{

        width: 240px;
        line-height: 17px;
        padding: 0 10px 0 10px;
        font-size: 13px;

    }

    #group_list .group_block .group_content .group_info{

        width: 240px;
        padding: 0px 15px 10px 10px;

    }

    #group_list .group_block .group_content .group_info p{

        padding: 0px;
        width: 205px;
        height: 85px;
        font-size: 14px;


    }

    #group_list{

        width: 400px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;

    }


}

@media (max-width: 480px){

    #main_top{

        width: 280px;

    }

    #main_top p{

        font-size: 13px;
        font-weight: 500;

    }

    #search_input_container{

        width: 280px;

    }

    #search_input_container #search_input_div{

        width: 280px;

    }

    #search_input_container #search_input_div #input_search{

        width: 210px;

    }

    #search_input_container #btn_search{

        height: 35px;
        font-size: 13px;

    }

    #search_tag_container{

        width: 280px;
        height: 85px;

    }

    #search_tag_container ul li{

        width: 56px;
        font-size: 13px;

    }

    #main_bottom{

        width: 280px;

    }

    #main_bottom p{

        font-size: 16px;

    }


    #group_list{

        width: 280px;

    }

    #group_list .next_arrow{

        display: none;

    }

    #group_list .group_block{

        width: 240px;
        grid-template-columns: 80px 160px;

    }

    #group_list .group_block .picture_circle img{

        width: 55px;

    }

    #group_list .group_block .group_content .group_title{

        width: 160px;
        padding: 20px 10px 0 10px;
        line-height: 10px;
        font-size: 14px;

    }

    #group_list .group_block .group_content .group_type{

        width: 160px;
        line-height: 15px;
        padding: 2px 10px 0 10px;
        font-size: 12px;

    }

    #group_list .group_block .group_content .group_info{

        width: 160px;
        padding: 5px 15px 10px 10px;

    }

    #group_list .group_block .group_content .group_info p{

        padding: 0px;
        width: 130px;
        height: 75px;
        font-size: 12px;

    }


}