
#auth_content{

    display: grid;
    grid-template-rows: 4fr 1fr;

}

#form {

    width: 400px;
    height: 500px;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 1px 1px 5px 1px #a6a6a6;
    border-radius: 5px;
    margin: 10px;

}

#auth_text_area{

    width: 340px;
    height: 120px;

}

#auth_text_area i {

    width: 70px;
    height: 50px;
    margin: 10px 140px 10px 140px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #101820;

}

#auth_text_area p{

    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #101820;

}

#auth_input_area {

    width: 340px;
    height: 290px;
    padding-top: 10px;

}

#auth_input_area input,#auth_input_area .password_check,#auth_input_area .password{

    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
    transition: 0.1s linear;

}

#auth_input_area #btn_submit{

    width: 340px;
    height: 40px;
    background-color: #101820;
    border: 3px solid #101820;
    border-radius: 10px;
    font-weight:450;
    color: #fff;
    transition: 0.1s linear;

}

#btn_signup {

    width: 197px;
    margin: 0 auto;

}

#btn_signin {

    width: 180px;
    margin: 0 auto;

}

#auth_input_area .btn_verify{

    height: 38px;

}

#auth_social_btn{

    width: 100%;
    height: 130px;
    padding:10px;

}

#auth_social_btn button{

    position: relative;
    width: 90px;
    height: 50px;
    margin: 30px 8px;
    border-radius: 10px;
    font-size: 25px;
    background: #000;
    outline: 0;
    border: 2px solid #000;
    transition: 0.1s linear;

}

#auth_social_btn button i{

    color: #fff;
    transition: 0.1s linear;

}

#auth_social_btn .btn_google{

    background:#ea4335;
    border: 2px solid #ea4335;

}

#auth_social_btn .btn_facebook{

    background:#3b5998;
    border: 2px solid #3b5998;

}

#btn_home_container{

    width: 137px;
    min-height: 60px;
    bottom: 30px;
    margin: 10px auto;


}

#btn_home{

    width: 137px;
    font-weight: 500;

}



@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

@media (hover: hover){

    #auth_input_area #btn_submit:hover{

        background-color: #fff;
        color:#101820;

    }

    #auth_social_btn .btn_google:hover{

        background: #fff;

    }

    #auth_social_btn .btn_google:hover i:nth-child(1){

        color: #ea4335;

    }

    #auth_social_btn .btn_github:hover{

        background-color: #fff;

    }

    #auth_social_btn .btn_github:hover i:nth-child(1) {

        color: #000;

    }

    #auth_social_btn .btn_facebook:hover{

        background-color: #fff;

    }

    #auth_social_btn .btn_facebook:hover i:nth-child(1){

        color: #3b5998;

    }

    #btn_home:hover{
        background-image:     linear-gradient(
                to right,
                #E7484F,
                #E7484F 16.65%,
                #F68B1D 16.65%,
                #F68B1D 33.3%,
                #FCED00 33.3%,
                #FCED00 49.95%,
                #009E4F 49.95%,
                #009E4F 66.6%,
                #00AAC3 66.6%,
                #00AAC3 83.25%,
                #732982 83.25%,
                #732982 100%,
                #E7484F 100%
        );
        animation:slidebg 2s linear infinite;
    }

}

@media (max-width: 1024px) {

    .container{

        height: 100vh !important;
        display: grid;
        grid-template-rows: 4fr 1fr ;

    }

}

@media (max-width: 480px){

    #form {

        width: 380px;

    }

    #auth_text_area{

        width: 320px;
        height: 120px;

    }


    #auth_text_area i {

        margin: 10px 125px;

    }

    #auth_input_area {

        width: 320px;
        height: 290px;
        padding-top: 10px;

    }

    #auth_input_area #btn_submit{

        width: 320px;

    }

    #auth_social_btn button{

        width: 82px;

    }

    #auth_social_btn button:last-child{

        width: 82px;

    }

}

@media (max-width: 375px) {

    .container{

        grid-template-rows: 500px 50px;

    }

    #form {

        height: 450px;
        width: 280px;
        box-shadow: none;
        padding: 10px;

    }

    #auth_text_area{

        width: 260px;
        height: 80px;

    }

    #auth_text_area i {

        margin: 0 95px;

    }

    #auth_input_area {

        width: 260px;
        height: 290px;
        padding-top: 10px;

    }

    #auth_input_area #btn_submit{

        width: 260px;

    }

    #auth_social_btn button{

        width: 62px;

    }

    #auth_social_btn button:last-child{

        width: 62px;

    }

}